.btns{
 	max-width: 80%;
 	font-size: 3.5em;
 	margin: 4% auto;
	background-color: #202020;
	border:10% solid black;
	border-radius:14%;
	color:white;
	text-align:center;
	padding-top: 4%;
	display: block;
	text-decoration: none;
	align-self:center;
	box-shadow: 0px 0px 30px #ec572c;
	/*vertical-align: center;*/
}
.btns:hover{
	background-color: #ec572c;
	color:black;
	cursor:pointer;
	text-decoration: none;
	font-weight: bold;
 }
 #para1{
    width: 50%;
    margin: 0px auto;
	background-color: gray;
	border:2px solid black;
	border-radius:4px;
	color:white;
	text-align:center;
 }
 #para1:hover{
	background-color: white;
	color:black;
	cursor:pointer;
 }
 #logox {
 	background: #202020;
 	text-align: center;
 	padding-top: 10px;
 	padding-bottom: 10px;
 }
 #logox img{
 	width: 60%;
 }
 .footerx {
 	background: #202020;
 	text-align: center;
 	padding-top: 10px;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-bottom: 10px;
 }
 .bodyx {
 	background-image: url('../img/dark.png');
 	text-align: center;
 	padding-top: 10px;
 	padding-left: 10px;
 	padding-right: 10px;
 	padding-bottom: 10px;
 }
 .mark {
 	border: 1px solid red;
 }
 #btn1 {
 	position:relative;
	animation:mymove1 2s;
	-webkit-animation:mymove1 2s; /*Safari and Chrome*/
}

@keyframes mymove1
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove1 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}

 #btn2 {
 	position:relative;
	animation:mymove2 3s;
	-webkit-animation:mymove2 3s; /*Safari and Chrome*/
}

@keyframes mymove2
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove2 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}

 #btn3 {
 	position:relative;
	animation:mymove3 4s;
	-webkit-animation:mymove3 4s; /*Safari and Chrome*/
}

@keyframes mymove3
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove3 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}

 #btn4 {
 	position:relative;
	animation:mymove4 5s;
	-webkit-animation:mymove4 5s; /*Safari and Chrome*/
}

@keyframes mymove4
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove4 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}

 #btn5 {
 	position:relative;
	animation:mymove5 6s;
	-webkit-animation:mymove5 6s; /*Safari and Chrome*/
}

@keyframes mymove5
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove5 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}

 #btn6 {
 	position:relative;
	animation:mymove6 7s;
	-webkit-animation:mymove6 7s; /*Safari and Chrome*/
}

@keyframes mymove6
{
from {left:-200px;}
to {left:0px;}
}

@-webkit-keyframes mymove6 /*Safari and Chrome*/
{
from {left:-200px;}
to {left:0px;}
}
