.btns{
 	max-width: 200px;
 	min-width: 190px;
 	margin: 10px auto;
	background-color: #202020;
	border:2px solid black;
	border-radius:4px;
	color:white;
	text-align:center;
	padding: 10px;
	display: block;
	text-decoration: none;
}
.btns:hover{
	background-color: white;
	color:black;
	cursor:pointer;
 }
 #para1{
    width: 50%;
    margin: 0px auto;
	background-color: gray;
	border:2px solid black;
	border-radius:4px;
	color:white;
	text-align:center;
 }
 #para1:hover{
	background-color: white;
	color:black;
	cursor:pointer;
 }
 #logox {
 	text-align: center;
 	margin: 15px;
 	background: url('img/dark.png') repeat;
 }